.nav-container {
  width: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 100;
  -webkit-animation: moveDown 0.4s 0s ease-in;
          animation: moveDown 0.4s 0s ease-in;
}

nav {
  color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 20px;
  padding: 15px 0;
  -webkit-box-shadow: 3px 3px 2px #ddd;
          box-shadow: 3px 3px 2px #ddd;
  font-weight: 300;
}

.nav-social {
  font-size: 22px;
  height: 100%;
}

.nav-social span {
  margin: 0 3px;
}

.nav-social span a {
  color: #444 !important;
}

@media (max-width: 450px) {
  .nav-social {
    display: none;
  }
}

.loader {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background: #000;
  z-index: 101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.loader img {
  max-width: 40%;
  width: 40%;
  -webkit-animation: fadeIn 2s 0s ease;
          animation: fadeIn 2s 0s ease;
}

.hide-loader {
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes moveDown {
  0% {
    top: -40px;
  }
  100% {
    top: 0;
  }
}

@keyframes moveDown {
  0% {
    top: -40px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  font-size: 25px;
  text-align: center;
  padding: 40px;
  -webkit-animation: fadeIn 1.21s 0s ease-in;
          animation: fadeIn 1.21s 0s ease-in;
}

.title span {
  display: inline-block;
  text-transform: uppercase;
}

.title span:first-child {
  -webkit-transform: rotate(-90deg) translate(5px, 8px);
          transform: rotate(-90deg) translate(5px, 8px);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.2px;
}

.title span:nth-child(2) {
  font-size: 2em;
  font-weight: 600;
}

.title span:last-child {
  -webkit-transform: rotate(90deg) translate(-5px, 12px);
          transform: rotate(90deg) translate(-5px, 12px);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.2px;
}

@media (max-width: 600px) {
  .title {
    font-size: 18px;
  }
}

@media (max-width: 300px) {
  .title {
    font-size: 16px;
  }
}

.blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px;
}

.blog {
  -webkit-animation: fadeIn 1.4s 0s ease-in;
          animation: fadeIn 1.4s 0s ease-in;
  position: relative;
  margin: 10px;
  margin-top: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29%;
          flex: 0 0 29%;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.blog img {
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
}

.blog h2, .blog h4 {
  margin-top: 12px;
}

.blog h4 {
  font-weight: 200;
}

.blog h4 .dark {
  font-weight: 600;
}

.blog .text-content {
  padding-bottom: 35px;
}

.blog .link-btn {
  display: block;
  margin: 20px 0 0;
}

.blog .link-btn button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: block;
  margin: auto;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blog .link-btn button:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 1100px) {
  .blog {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
  }
  .blog h2 {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .blog {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    width: 90%;
  }
  h2 {
    font-size: 16px !important;
  }
  h4 {
    font-size: 14px !important;
  }
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("woff2");
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: #000 !important;
  text-decoration: none !important;
}

body, html {
  font-family: 'Montserrat';
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.cover-gap {
  width: 100%;
  padding: 30px;
}

hr.below-title {
  width: 80%;
  background: #ddd;
  margin: 15px auto;
}

.text-center {
  text-align: center;
}

.text-center h3 {
  font-weight: 300;
}

.py-3 {
  padding: 2em 0;
}

@media (max-width: 767px) {
  .text-center {
    margin: 0 50px !important;
    line-height: 1.7em;
  }
  .text-center h3 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */